body {
    background-color: maroon;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.header {
    display: flex;
}
img {
    width: 20%;
    position: absolute;
    margin-left: -25px;
    
    
}
.content h2 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    margin-top: 110px;
    margin-left: 290px;
}


.Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}

.login {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgb(152, 7, 7);
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 0.3s ease,  0.2s ease;
}

.login:hover {
    background-color: rgb(200, 50, 50); 
    transform: scale(1.05); 
}
.footre {
    display: inline-flex;
}
.icons {
    background-color: white;
    padding: 100px;
    text-align: center;
    margin-top: 250px;

}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.socials {
    background-color: #54473F;
    padding: 100px;
    
}

.text {
    color: white;
    font-size: 25px;
}


.map {
    float: right;
    right: 25px;
    margin-top: -350px;
}